@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #2c3531 !important;
}

.content-container {
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 80px;
    margin-top: 30px;
}

.profile-image {
    padding-left: 40px;
    padding-right: 40px;
}

.profile-image img {
    max-height: 380px;
}

.page-header {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

/*NAVIGATIONBAR*/


a.menu-styling {
    color: #2c3531 !important;
}

a.menu-styling:hover {
    color: #950740 !important;
    text-decoration: underline;
}

/*HOME PAGE*/

.home-text {
    padding-left: 5%;
    padding-right: 5%;
}

img.profile-picture {
    vertical-align: middle;
    border-style: none;
}

.intro-name, .intro-text {
    text-align: left;
}

.intro-name {
    font-family: "Comfortaa", sans-serif;
}

/*ABOUT MENU*/


.yearlink {
    margin-bottom: 10px;
}

.timeline-list {
    list-style: none;
    margin: auto;
    padding: 0;
}

.timeline-list li {
    border: 2px solid lightgray;
    background: lightgray;
    display: inline-block;
    width: 40%;
    margin: 0 auto 10px;
}

.timeline-years {
    padding: 0;
    margin: 0;
}
.year-info {
    margin-top: 20px;
}
.timeline-list p a{
    color: #2c3531;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

/*SKILLS*/


.skill-section {
    margin-top: 0px;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 8px;
}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25 , 25, 0.2);
}

.progress-bar {
    background-color: #2c3531 !important;
}

/*PROJECTS*/

.project-section {
    margin-top: 0px;
}

.div-border {
    margin-bottom: 15px;
}

.projectLink {
    text-decoration: none;
    color: white;
}

/*CONTACT*/


.form-input {
    margin-bottom: 5px;
}

/*FOOTER*/

.social-icon-footer {
    color:black;
    font-size: 1.5em;
}

.social-icon-footer:hover {
    color: #950740;
}



/*MEDIA QUERIES*/


@media (min-width: 768px){

    .content-container {
        padding-right: 5%;
        padding-left: 10%;
        margin-bottom: 80px;
        margin-top: 30px;
    }

    .profile-image img {
        max-height: none;
    }
    /*HOME PAGE*/

    .intro-name,
    .intro-text{
        text-align: center;
    }

    .profile-image {
        padding-left: 0;
        padding-right: 0;
    }


    .timeline-list {
        list-style: none;
        margin: auto;
        border-right: 2px solid #2c3531;
    }

    .timeline-list li {
        background: none;
        border: none;
        display: block;
        margin: auto;
    }

    a.date-year:hover {
        color: #2c3531;
        text-decoration: underline;
        display: block;
        margin: auto;
    }

    .year-info {
        text-align: center;
    }

    /*PROJECTS*/
     .projectLink:hover {
         text-decoration: underline;
         color: white;
     }
}
