@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #2c3531 !important;
}
/*NAVIGATIONBAR*/


a.menu-styling {
    color: #2c3531 !important;
}

a.menu-styling:hover {
    color: #950740 !important;
    text-decoration: underline;
}




/*IMAGE&INTRO*/

.about-text {
    padding-left: 5%;
    padding-right: 5%;
}

img.profile-picture {
    vertical-align: middle;
    border-style: none;
}

.name,
.intro-text{
    text-align: center;
}

.page-arrow {
    font-size: 3em;
    font-weight: 500;
    color: #2c3531;
}

.page-arrow:hover {
    color:#950740;
}

/*PROJECTS*/


h3.center-header {
    text-align: center;
}

.test123 {
    padding-right: 5%;
    padding-left: 10%;
    margin-bottom: 80px;
    margin-top: 30px;
}


.skill-section {
    margin-top: 40px;
}

.project-section {
    margin-top: 40px;
}

.name {
    margin-bottom: 100px;
}

.intro-name {
    text-align: center;
    margin-bottom: 20px;
}

.project-name {
    margin-bottom: 50px;
    text-align: center;
}

.social-icon-footer {
    color:black;
    font-size: 1.5em;
}

.social-icon-footer:hover {
    color: #950740;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 8px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25 , 25, 0.2);
}

.progress-bar {
    background-color: #2c3531 !important;
}

/*MEDIA QUERIES*/

@media (max-width : 480px) {
    .mobile-fix {
        padding-left: 40px;
        padding-right: 40px;
    }

    .intro-text {
        text-align: left;
    }

    .process-bar {
        margin-left: 1%;
    }
}
